<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.eemrsserver.mapper.GuahaoMapper">
    <insert id="insertInfo">
        insert into tb_guahao(department, id_number, user_name, id_hash_code, doctor_id_hash_code)
        values (#{department},#{idNumber},#{userName},#{hashCode},#{doctorIdHashCode})
    </insert>

    <select id="queryByDept" resultType="com.liu.eemrsserver.domain.Waiting">
        select id_number,user_name
        from tb_guahao
        <trim prefix="where" suffixOverrides="and">
            department=#{enDept} and
            <if test="hash!=null">
                doctor_id_hash_code=#{hash}
            </if>
        </trim>
    </select>
    <delete id="deleteGuaHaoByHash">
        delete from tb_guahao
        where id_hash_code=#{patientIdHash} and doctor_id_hash_code=#{doctorIdHash}
    </delete>


    <select id="getPatientByHashCode" resultType="com.liu.eemrsserver.domain.PatientInfo">
        select * from tb_patient where id_hash_code=#{hashCode}
    </select>
</mapper>